// COLORS
$primary-color: #1971c2;
$primary-color-light: #f8f9fa;
$primary-color-border: #a5d8ff;
// $text-color-light: #343a40;
$text-color-light: #212529;
$text-color-dark: rgba(white, 0.87);
$background-color-light: #fff;
$background-color-dark: #242424;
$footer-color: #f8f9fa;

// Set to dark to use dark mode
// Otherwise let it light
$dark-color-scheme: light;
