.grid__2col-sm-up {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;

  @include for-phone-only {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.grid__4col-sm-up {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;

  @include for-phone-only {
    grid-template-columns: repeat(2, 1fr);
  }
}
