.project {
  align-items: center;
  padding-top: 6.4rem;

  &__title {
    line-height: 1.3;
  }

  &__link {
    margin-bottom: 1.6rem;
  }

  &_skills {
    margin-top: 1.6rem;
  }

  &__image {
    height: 100%;
    object-fit: cover;
  }

  &__content {
    @include for-phone-only {
      grid-row: 1/1;
    }
  }
}

.belefit {
  padding-top: 1.6rem;
}
